.center-map-btn {
  position: absolute;
  left: calc(100% - 3rem);
  top: 1rem;
  z-index: 100;
  display: block;
  border: 0px;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  width: 40px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  border-radius: 2px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: #666;

  &:hover {
    color: #111;
  }
}

.info-details-container {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 500;

  & .info-header {
    font-size: 1.1em;
  }

  & .lot-count {
    line-height: 1em;
    font-size: 1.3em;
    margin: 0.4em 0;
    font-weight: bold;
    &.high {
      color: #006647;
    }
    &.med {
      color: #cc860c;
    }
    &.low {
      color: #b50600;
    }
  }
}
