.info-wrapper {
  padding: 1em 0;
  margin-left: 8px;
  margin-right: 8px;

  .info {
    position: relative;
    color: rgb(72, 72, 72);
    margin-bottom: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(235, 235, 235);
    border-image: initial;
    border-radius: 4px;

    &:hover {
      position: relative !important;
      color: rgb(72, 72, 72) !important;
      height: 100% !important;
      margin-bottom: 4px !important;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 12px !important;
      border-width: 1px !important;
      border-style: solid !important;
      border-color: rgb(235, 235, 235) !important;
      border-image: initial !important;
      border-radius: 4px !important;
    }

    &.selected {
      position: relative !important;
      color: rgb(72, 72, 72) !important;
      height: 100% !important;
      margin-bottom: 4px !important;
      box-shadow: rgba(228, 105, 35, 0.12) 0px 0px 12px !important;
      border-width: 1px !important;
      border-style: solid !important;
      border-color: #ffc107 !important;
      border-image: initial !important;
      border-radius: 4px !important;
    }

    .favourite {
      display: flex;
      margin-left: auto;
      margin-right: 1em;
      align-items: center;
      font-size: 1.2em;
      cursor: pointer;

      &:hover,
      &:focus {
        color: #c73c55;
      }
      & .fas.fa-heart {
        color: #f15f79;

        &:hover,
        &:focus {
          color: #c73c55;
        }
      }
    }

    .carpark-lots {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-end;
      text-align: end;

      .lot-count {
        font-size: 1.5em;
        line-height: 1em;
        margin-bottom: 0.4em;
        font-weight: bold;
        &.high {
          color: #006647;
        }
        &.med {
          color: #cc860c;
        }
        &.low {
          color: #b50600;
        }
      }
    }

    .distance-info {
      align-items: flex-end;
    }

    .redirection-icon {
      margin-left: 6px;
    }
  }
}

.expand-less-svg,
.expand-svg {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 0;
}

.elab-wrapper {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  justify-content: space-between;

  .past-data-label {
    font-weight: bold;
    font-size: 1.1em;
  }
}

.directions-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.expansion-wrapper {
  cursor: pointer;
}

.lot-histogram {
  height: 10em;
  padding-left: 3em;
  padding-right: 3em;

  @media screen and (max-width: 992px) {
    height: 7em;
    padding-top: 0;
    padding-left: 1em;
    padding-right: 1em;
  }
}
