.google-places-autocomplete {
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;

  input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.map-wrapper {
  @media screen and (max-width: 992px) {
    height: 40vh;
  }
}

.left-col {
  height: 100vh;
  padding: 1em 1.5em !important;
  display: flex;
  flex-flow: column nowrap;

  @media screen and (max-width: 992px) {
    height: 60vh;
  }
}

.carparks-header {
  display: flex;
  align-items: flex-start;

  .label {
    font-weight: bold;
    font-size: 1.5em;
  }

  .toggle-favourite {
    border-radius: 0.25em;
    margin-left: auto;
  }
}

.search-bar {
  .clear-input {
    position: absolute;
    right: 3em;
    background: none;
    top: 0;
    bottom: 0;
    color: #ccc;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      color: rgb(126, 126, 126);
    }
  }

  .google-places-autocomplete {
    input {
      padding-right: 2em;
    }
  }
}
